{% extends "base.html" %}
{% block content %}

<script>
    function call_counter(url, pk) {
        window.open(url);
        $.get('YOUR_VIEW_HERE/'+pk+'/', function (data) {
            alert("counter updated!");
        });
    }
</script>

<h1>Quiz Game</h1>
<br>
<!-- Code to get question from database-->
<p>Quiz Question from database goes here.</p>

<h2>{{ question_text }}</h2>

<br>
<br>

<ul>
{% for question in questions %}
    <li>{{ question.question_text }}</li>
{% endfor %}
</ul>


<br>
<br>
    <form action="/QuizView/" method="post">{% csrf_token %}
      <input type="text" name="content" autofocus="autofocus"/>
      <input type="submit" value="Add">
      </form>

<!-- NOTE: Custom javascript button -->
<button onclick="call_counter('http://www.google.com', 12345);">
    I update object 12345
</button>
<button onclick="call_counter('http://www.yahoo.com', 999);">
    I update object 999
</button>


{% endblock content %}




<!------- OLD MAIN CONTENT
<div class="row">
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.</p>
  </div>

  <div class="column middle">
    <h2>Main Content</h2>
    <p>Sociality Phrases application ALPHA v0.2 Django web framework</p>
      <br>
      <p>
      Input text here:
      </p>
      <form class="answerform" action="/addPhrase/" method="post">{% csrf_token %}
        <input type="text" name="content" autofocus="autofocus" />
        <input type="submit" value="Add">
        </form>
  </div>

 <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.</p>
  </div>
 </div>

  <ul>
    {% for phrases_item in all_items %}
      <li>{{ phrases_item.content }}
        <form action="/deleteTodo/{{todo_item.id}}/"
              style="display: inline;"
              method="post">{% csrf_token %}
          <input type="submit" value="Delete">
          </form>
        </li>
    {% endfor %}
  </ul>
------->
